//Layout


header {
  justify-content: space-between;
  background-color: #A8A8A8	;
  display: inline-flex;
  height: 5rem;
  width: 100%;
  position: fixed;
  z-index: 20;

  .header-left{
    margin-left: 2rem;
    display: flex;
    align-items: center;

    .site-logo {
      width: 40px;
      margin-right: 2em;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .site-title {
      font-family: 'Lato', sans-serif;
      color: white;
      font-size: 1.4rem;
    }
  }

  .header-right {
    display: flex;
    margin-right: 2rem;
    align-items: center;

    button {
      display: block;
      background-color: inherit;
      border-style: none;

      @media screen and (min-width: 1020px) {
        display: none;
      }
    }
  }
}

footer {
  padding: 2em 0;
  font-size: 0.85em;
  background-color: #A8A8A8	;
  color: #fff;

  a, a:visited, a:hover, a:focus {
    color: #fff;
  }
}

.page {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1020px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sidebar {
  top: 5rem;
  padding: 2em 2em 2em 4em;
  transition: all .5s ease-in-out;

  @media screen and (min-width: 1020px) {
  flex: 0 0 320px;
  height: calc(100vh - 11rem;);
  transform: translateX(0);
  vertical-align: top;
  width: 320px;
  position: sticky;
  backface-visibility: hidden;
  will-change: scroll-position;
  overflow-y: scroll;
}

  h2 {
    font-size: 1em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1em;
    padding-left: 0.33em;
  }
  ul {
    font-size: .85em;
    list-style-type: none;
    padding-left: 0.33em;
  }
}

.docs-content {
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
  padding: unset;
  padding: 9rem 2em 0;

  @media screen and (min-width: 1020px) {
    padding-top: 9rem;
    position: relative;
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding-left: 4.1666%;
  padding-right: 4.1666%;
}

.last-modified {
  margin-top: 3em;
  border-top: 1px solid $header-gray-text;
  color: $header-gray-text;
  font-style: italic;
  padding-top: 1em;
  font-size: .85em;
}
// Images
.content .image-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;

  img {
    width: 100%;
    height: auto;
  }
}

.content .image-container.half {
  max-width: 400px;
}

//Notifications
.notification {
  border: 1px solid;
  padding: 1em;
  margin: 2em;

  &.alert {
    border-color: #f4d142;
    background-color: #f9e79d;
  }
}

table {
  font-size: 0.75em;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
}

table th,
table td {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

table tbody {
  vertical-align: inherit;
}

table thead th {
  font-weight: bold;
  vertical-align: bottom;
  border-bottom-color: #495057;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.caption-top {
  caption-side: top;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1020px) {
  .sidebar:not(.responsive)  {display: none;}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1020px) {
  .sidebar.responsive {position: relative;}

  .sidebar.responsive {
    display: block;
    float: none;
    display: block;
    text-align: left;
  }
}

#sidebar-nav .fade.in {
    animation-name: fadeIn;
}

#sidebar-nav .fade.out {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(startYposition);
    }
    100% {
        opacity: 1;
        transform: translateY(endYposition);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(startYposition);
    }
    100% {
        opacity: 0;
        transform: translateY(endYposition);
    }
}
