//Layout


header {
  padding: 1em 0;
  background-color: #A8A8A8	;
  //background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);

  .header {
    display: flex;
    align-items: center;

    .site-logo {
      width: 74px;
      margin-right: 2em;

      img {
        width: 100%;
        height: auto;
      }
    }

    .site-title {
      font-family: 'Lato', sans-serif;
      color: white;
      font-size: 2.4em;
    }
  }
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  flex: 0 0 320px;
  height: calc(100vh - 6rem);
  transform: translateX(0);
  vertical-align: top;
  width: 320px;
  position: sticky;
  backface-visibility: hidden;
  will-change: scroll-position;
  padding: 2em 2em 2em 4em;

  h2 {
    font-size: 1em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1em;
    padding-left: 0.33em;
  }
  ul {
    font-size: .85em;
    list-style-type: none;
    padding-left: 0.33em;
  }
}

.docs-content {
  margin: 0 auto;
  max-width: 700px;
  min-height: 100vh;
  padding: unset;
  padding-top: 4em;
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding-left: 4.1666%;
  padding-right: 4.1666%;
}

.last-modified {
  margin-top: 3em;
  border-top: 1px solid $header-gray-text;
  color: $header-gray-text;
  font-style: italic;
  padding-top: 1em;
  font-size: .85em;
}
// Images
.content .image-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;

  img {
    width: 100%;
    height: auto;
  }
}

.content .image-container.half {
  max-width: 400px;
}

//Notifications
.notification {
  border: 1px solid;
  padding: 1em;
  margin: 2em;

  &.alert {
    border-color: #f4d142;
    background-color: #f9e79d;
  }
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
}

table th,
table td {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

table tbody {
  vertical-align: inherit;
}

table thead th {
  vertical-align: bottom;
  border-bottom-color: #495057;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.caption-top {
  caption-side: top;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
