<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="page">
          <section id=sidebar-nav class="sidebar">
            {{- partial "sidebar.html" . }}
          </section>
          <div class="docs-content">
          {{- block "main" . }}{{- end }}
          </div>
        </div>
        {{- partial "footer.html" . -}}

        {{ $script := resources.Get "javascript/script.js" }}
        {{ $global := slice $script | resources.Concat "app.js" | minify | fingerprint }}

        <script type="text/javascript" src="{{ $global.Permalink }}" integrity="{{ $global.Data.Integrity }}" media="screen"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.2/anchor.min.js"></script>

    </body>
</html>
