{{ with .Title }}
  <title>{{ . }}</title>
{{ else }}
  <title>{{ .Site.Title }}</title>
{{ end }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:site_name" content="{{ .Site.Title }}">

{{ with .Title }}
  <meta property="og:title" content="{{ . }}">
{{ else }}
  <meta property="og:title" content="{{ .Site.Title }}">
{{ end }}

<link href="https://fonts.googleapis.com/css?family=Lato:700|Merriweather:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
{{ $style := resources.Get "scss/style.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
